<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dubby.itbus.mapper.BusMapper" >

  <select id="selectTopN" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bus
    ORDER BY up_count DESC
    limit #{limit,jdbcType=INTEGER}
  </select>

  <select id="selectByLine" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bus
    WHERE bus_line_id = #{lineId,jdbcType=INTEGER}
    limit #{offset}, #{limit}
    ORDER BY up_count DESC
  </select>

</mapper>